/MarcelJoachimKloubert.SendNET.v12.suo
/MarcelJoachimKloubert.SendNET/obj
/MarcelJoachimKloubert.SendNET/bin
/MarcelJoachimKloubert.SendNET/MarcelJoachimKloubert.SendNET.csproj.user
/MarcelJoachimKloubert.SendNET.Test/obj
/MarcelJoachimKloubert.SendNET.Test/bin
/MarcelJoachimKloubert.SendNET.ConsoleApp/obj
/MarcelJoachimKloubert.SendNET.ConsoleApp/bin
